* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font: normal 1em 'Baskervville', serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    color: black;
}
.icon {
    width: 24px;
    height: 24px;
}

/*====================Buttons========================*/
.button {
    font-size: 100%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    outline: none;
    color: rgb(82, 82, 72);
    border: 1px solid rgb(180, 180, 173);
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    border-radius: 0.25em;
    transition: all 0.2s ease 0s;
}
.button-search {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 2% 0 0 2%;
}
.button-serv {
    margin-top: 10%;
    padding: 3% 10%;
}
.reg-button {
    padding: 3% 10%;
    margin: 8% 0;
}
.sq-serv:hover .button,
.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(180, 180, 173);
}
.button-rev {
    width: 15%;
    margin-bottom: 5%;
    padding: 1%;
}
.button-filter {
    padding: 1.5% 8%;
    margin: 3% auto;
}
.button-addPics {
    padding: 1% 2%;
}
.button-light-box {
    padding: 1% 5%;
    margin: 3% auto;
}
.button-pagin {
    height: 35px;
    min-width: 35px;
    line-height: 35px;
    margin-right: 1%;
    font-family: serif;
}
.button-pagin:last-child {
    margin-right: 0;
}

/*==================== Header ========================*/
header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 30%;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 14%;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(222, 222, 210, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.header:hover {
    background-color: rgba(222, 222, 210, 1);
    transition-duration: 1s;
}
.logo {
    width: 8%;
    height: 100%;
}
.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-menu > li {
    width: 130px;
    height: 24px;
    text-align: center;
    border-right: 1.3px solid;
}
.nav-menu li:last-child {
    border: none;
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: white;
}
.drop-menu {
    list-style: none;
    visibility: hidden;
    position: absolute;
    text-align: left;
    line-height: 2em;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 10%;
}
.nav-menu li:hover > .drop-menu {
    visibility: visible;
    background-color: rgba(222, 222, 210, 1);
    transition-duration: .3s;
}
.reg {
    line-height: 5em;
}
.icon-reg {
    padding-top: 3%;
}

/*=======================Slider=======================*/
.slider {
    width: 100%;
    height: 30%;
}
.main-video {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

/*=======================Main=========================*/
main {
    flex: 1 0 60%;
    overflow: auto;
}
.content {
    width: 100%;
    text-align: center;
}
.container {
    background-color: #e2effc;
    padding: 1%;
    cursor: auto;
}
.text {
    width: 85%;
    text-align: center;
    margin: 0 auto 1% auto;
}
.main-text {
    font-size: 120%;
    margin: 1.5% auto;
    text-align: justify;
}
.line {
    width: 20%;
    margin: auto;
    border: 2px solid rgb(180, 180, 173);
}
.line-wide {
    width: 70%;
    margin-top: 3.5%;
}
.box {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.sq {
    flex: 0 0 28%;
    max-width: 500px;
    cursor: pointer;
    line-height: 150%;
    font-size: 110%;
    background-color: #fefefe;
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    transition: all 300ms ease-in-out 0s;
}
.sq:hover {
    transform: scale(1.1);
}
.h2 {
    margin-bottom: 5%;
}
.homePic {
    width: 4%;
    margin-top: 1%;
}

/*=================== About us ===================*/
.reviews {
    width: 90%;
    margin: 1% auto;
}
.sq-rev {
    padding: 2%;
    margin: 2% auto;
    text-align: justify;
}
.name {
    text-align: right;
    font-weight: bold;
    font-size: 90%;
}

/*=================== Services ====================*/
.house {
    width: 13%;
    height: 13%;
    align-self: center;
    max-width: 200px;
}
.box:nth-of-type(2) {
    background-color: #e2effc;
}
.sq-serv {
    width: 30%;
    max-width: 500px;
    font-size: 110%;
    text-align: center;
    margin: 7% 0;
    padding: 3% 1%;
}

/*=================== For owners ==================*/
.container-filter {
    width: 60%;
    padding: 3%;
    margin: 5% auto;
}
.form {
    display: flex;
    flex-flow: row wrap;
    align-items: space-evenly;
    justify-content: space-between;
}
.filters {
    font-size: 100%;
    font: normal 110% serif;
    color: #757575;
    border-radius: 0.25em;
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    border: none;
    outline: none;
    padding: 1%;
    margin: 2% 0;
}
.even {
    width: 24%;
}
.wide {
    width: 63%;
}
.short {
    width: 10%;
}
.description {
    width: 100%;
}
#addPics {
    visibility: hidden;
}

/*=================== Buy/Rent ====================*/
.box-prop {
    margin: 7% 0;
}
.container-sideFilter {
    flex: 0 0 21%;
    max-width: 400px;
    padding: 1%;
    margin: 1% 2%;
}
.prop {
    flex: 0 0 75%;
    padding: 1%;
    max-height: 800px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
    justify-content: space-evenly;
    font-family: serif;
}
.img-box {
    width: 300px;
    height: 300px;
    flex: none;
}
.img-prop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container-prop {
    width: 95%;
    margin-bottom: 1%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.text-box {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}
.pagination-box {
    flex: 0 0 75%;
    margin-left: auto;
}
.pagin {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 2%;
}

/*=================== Contacts =======================*/
.address {
    text-align: left;
    font-family: serif;
    white-space: pre;
    font-size: 120%;
}
.map-box {
    width: 60%;
    min-height: 400px;
    margin: 3% auto;
    z-index: -1;
}
.email::before {
    font-family: FontAwesome;
    content: "\f0e0";
}

/*=================== Registration ====================*/
.reg-container {
    width: 40%;
    height: auto;
    max-width: 600px;
    margin: 3% auto;
    text-align: center;
    border-radius: 0.25em;
}
.login,
.register {
    width: 100%;
    padding: 5%;
}
.register {
    display: none;
}
.form-group {
    position: relative;
    margin-top: 8%;
    font-size: 110%;
}
.reg-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color:rgb(119, 119, 116);
    transition: 0.3s;
}
.reg-input {
    width: 100%;
    margin-bottom: 1%;
    font-size: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 173);
    outline: none;
    transition: 0.3s;
    padding-bottom: 1%;
}
.reg-phone {
    font-size: 80%;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(180, 180, 173);
    outline: none;
    padding: 1%;
    margin-left: 2%;
}
.ownerInfo {
    width: 100%;
    font-size: 100%;
    display: none;
}
#ownerCheck {
    display: none;
}
#ownerCheck + label {
    position: relative;
}
#ownerCheck + label::before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid rgb(180, 180, 173);
    outline: none;
    height: 18px;
    width: 18px;
    position: absolute;
    left: -10%;
}
#ownerCheck + label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 11px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
    position: absolute;
    top: 25%;
    left: -9%;
    display: none;
}
#ownerCheck:checked + label::after,
#ownerCheck:checked ~ .ownerInfo {
    display: inline-block;
}
.reg-input:focus {
    border-bottom-width: 2px;
}
.reg-input:focus ~ .reg-label,
.reg-input:not(:placeholder-shown) ~ .reg-label {
    top: -40%;
    font-size: 80%;
}
.switch {
    color: rgb(14, 82, 114);
    text-decoration: none;
    display: inline-block;
}
.switch:hover {
    font-weight: 700;
}
#log,
#reg {
    display: none;
}
#log:checked ~ .register,
#reg:checked ~ .login {
    display: none;
}
#reg:checked ~ .register {
    display: block;
}

/*===================== Search ======================*/
.search-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: none;
    border-radius: .25em;
    padding: .5%;
    position: fixed;
    right: 2%;
    top: 4.5%;
}
.search-text {
    width: 85%;
    display: none;
    border: none;
    outline: none;
    overflow: hidden;
    font: normal 110% serif;
    background-color: transparent;
}
.search-bar:hover {
    width: 22%;
    background-color: white;
    transition-duration: .3s;
}
.search-bar:hover > .button-search {
    border: 1px solid rgb(180, 180, 173);
    background-color: rgba(222, 222, 210);
    border-radius: .25em;
}
.search-bar:hover > .search-text {
    display: block;
}
.hidden {display: none;}

/*=================== Footer ========================*/
.footer {
    width: 100%;
    background-color: rgb(224, 224, 212);
    display: flex;
    flex: 0 0 10%;
    flex-flow: row nowrap;
    justify-content: flex-end;
    text-align: center;
    padding-top: 1.5%;
}
.copy {
    width: 50%;
    font: normal 110% serif;
}
.share {
    width: 25%;
}
.icon-share {
    margin-right: 2%;
}
.icon-share:hover {
    transform: scale(1.3);
}
.hide {
    position: absolute;
    text-align: center;
    background-color: rgb(222, 222, 210);
    border-radius: 0.25em;
    bottom: -1%;
    right: 5%;
    padding: 0 2%;
    display: none;
}
.hide::before {
    font: normal 300% FontAwesome;
    content: '\f106';
}