* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font: normal 16px 'Baskervville', serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    color: black;
}

/*====================Buttons========================*/
.button {
    font-size: 1rem;
    width: 8rem;
    padding: 1rem;
    margin: .5rem auto;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    outline: none;
    color: rgb(82, 82, 72);
    border: 1px solid rgb(180, 180, 173);
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    border-radius: 0.25em;
    transition: all 0.2s ease 0s;
}
.button-rev {
    margin-bottom: 3rem;
}
.button-serv {
    width: 10rem;
    margin-top: 2rem;
}
.sq-serv:hover .button,
.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(180, 180, 173);
}
.button-filter {
    margin: 2rem auto;
}
.button-prop {
    width: 10rem;
    align-self: center;
    background-color: #e2effc;
    box-shadow: none;
}
.button-pagin {
    height: 2rem;
    width: 2rem;
    padding: 0;
    line-height: 2rem;
    margin: 1rem 1rem 0 0;
    font-family: serif;
}
.button-pagin .link {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.button-pagin:last-child {
    margin-right: 0;
}
.reg-button {
    margin: 2rem 0;
}
.button-search {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 2% 0 0 2%;
}
.link-button {
    list-style: none;
}

/*==================== Header ========================*/
header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 30%;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 5rem;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(222, 222, 210, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.header:hover {
    background-color: rgba(222, 222, 210, 1);
    transition-duration: 1s;
}
.logo {
    width: 6rem;
    height: auto;
}
.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-menu > li {
    width: 8rem;
    text-align: center;
    border-right: 1.3px solid;
}
.nav-menu li:last-child {
    border: none;
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: white;
}
.drop-menu {
    list-style: none;
    visibility: hidden;
    position: absolute;
    text-align: left;
    line-height: 2rem;
    width: 50%;
    top: 100%;
    left: 16rem;
    padding: 2rem;
}
.drop:hover > .drop-menu {
    visibility: visible;
    background-color: rgba(222, 222, 210, 1);
    transition-duration: .3s;
}
.icon-reg {
    margin-top: 1.8rem;
}

/*=======================Slider=======================*/
.slider {
    width: 100%;
}
.main-video {
    width: 100%;
    transform: translateY(-10%);
    object-fit: contain;
    overflow: hidden;
}

/*=======================Main=========================*/
main {
    flex-grow: 0;
    overflow: auto;
}
.content {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}
.container {
    background-color: #e2effc;
    padding: 1%;
    cursor: auto;
}
.text {
    width: 85%;
    text-align: center;
    margin: 0 auto 1% auto;
}
.main-text {
    font-size: 120%;
    margin: 1.5% auto;
    text-align: justify;
}
.icon {
    width: 24px;
    height: 24px;
}
.line {
    width: 20%;
    margin: 0 auto 1% auto;
    border: 2px solid rgb(180, 180, 173);
}
.line-wide {
    width: 70%;
    margin: 0 auto 1% auto;
}
.box {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.sq {
    flex: 0 0 28%;
    max-width: 500px;
    cursor: pointer;
    line-height: 150%;
    font-size: 110%;
    background-color: #fefefe;
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    transition: all 300ms ease-in-out 0s;
}
.sq:hover {
    transform: scale(1.1);
}
.h2 {
    margin-bottom: 5%;
}
.homePic {
    width: 4%;
    max-width: 4rem;
    margin-top: 1%;
}
.box:nth-of-type(2) {
    background-color: #e2effc;
}
.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

/*=================== About us ===================*/
.reviews {
    width: 90%;
    margin: 1% auto;
}
.sq-rev {
    padding: 2%;
    margin: 2% auto;
    text-align: justify;
}
.name {
    text-align: right;
    font-weight: bold;
    font-size: 90%;
}

/*=================== Services ====================*/
.house {
    width: 13%;
    height: 13%;
    align-self: center;
    max-width: 200px;
}
.sq-serv {
    width: 50%;
    max-width: 550px;
    font-size: 110%;
    text-align: center;
    margin: 7% 0;
    padding: 3% 1%;
}

/*=================== Buy/Rent ====================*/
.container-sideFilter {
    width: 20rem;
    margin: 1%;
    color: #757575;
    font-family: serif;
}
.filters {
    width: 17rem;
    height: 2.5rem;
    font: normal 110% serif;
    color: #757575;
    border-radius: 0.25em;
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    border: none;
    outline: none;
    padding: 0 2%;
    margin: 1rem 0;
}
.label {
    width: 95%;
    font-size: 120%;
}
.short {
    width: 6rem;
    height: 2rem;
}
.box-prop {
    flex-grow: 1;
    max-width: 70%;
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}
.row {
    width: 100%;
    padding: 1%;
    margin-bottom: 1rem;
    background-color: #e2effc;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.result {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 4rem;
    padding: 1%;
}
.search-result {
    font-size: 150%;
    text-align: left;
}
.filter-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.list-item {
    width: 8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style: none;
    font: normal 110% serif;
    background-color: white;
    color:  #757575;
    border: none;
    border-radius: 0.25rem;
    padding: 3% 2%;
    margin: 1%;
}
.remove {
    border: none;
    text-shadow: none;
    color: #757575;
    font-size: 110%;
    outline: none;
    background-color: transparent;
}
.img-box {
    width: 300px;
    height: 300px;
    flex: none;
    margin-bottom: 1%;
}
.img-prop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.prop {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.card {
    width: 98%;
    min-width: 800px;
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
    padding: 1%;
    margin: 1%;
    position: relative;
    border: 2px solid rgb(180, 180, 173);
}
.text-box {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    font: normal 110% serif;
    padding: 2%;
    text-align: justify;
}
.dealtype {
    width: 8rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    color: #3f3d3d;
    background-color: #e2effc;
    text-align: center;
    padding-top: 1%;
    font-size: 130%;
}
.address {
    text-align: center;
    margin: .5rem;
}
.prop-info {
    width: 100%;
    color: #3f3d3d;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
.descr {
    margin: .5rem 0;
}
.price {
    font-size: 130%;
}
.pagination-box {
    width: 100%;
    height: 4rem;
    background-color: #e2effc;
}
.pagin {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/*================== Property card ================*/
.gallery-box {
    width: calc(98% - 350px);
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.gallery-text-box {
    width: 350px;
    max-height: 500px;
    margin: 1%;
    position: relative;
    flex-grow: 0;
    border: 2px solid rgb(180, 180, 173);
}
.gallery-prop-info {
    flex-flow: column nowrap;
    align-items: flex-start;
}

/*=================== For owners ==================*/
.container-filter {
    width: 80%;
    max-width: 62rem;
    padding: 2rem;
    margin: 2rem auto;
}
.thin {
    width: 7rem;
}
.wide {
    width: 27rem;
}
.filter-descr {
    width: 94%;
    height: 15%;
    padding-top: 1rem;
}
.owner-card {
    width: 80%;
    margin: 1rem auto;
}

/*================ Property management ================*/
.sq-manag {
    flex-basis: 45%;
    margin: 5% 0;
    padding: 2%;
    background-color: #e2effc;
}
.box:nth-of-type(2) > .sq-manag {
    background-color: white;
}

/*=================== Contacts =======================*/
.addr {
    text-align: left;
    font-family: serif;
    white-space: pre;
    font-size: 120%;
}
.map-box {
    width: 60%;
    min-height: 400px;
    margin: 3% auto;
    z-index: -1;
}
.email::before {
    font-family: FontAwesome;
    content: "\f0e0";
}

/*=================== Registration ====================*/
.reg-container {
    width: 40%;
    height: auto;
    max-width: 600px;
    margin: 3% auto;
    text-align: center;
    border-radius: 0.25em;
}
.login,
.register {
    width: 100%;
    padding: 5%;
}
.register {
    display: none;
}
.form-group {
    position: relative;
    margin-top: 8%;
    font-size: 110%;
}
.reg-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color:rgb(119, 119, 116);
    transition: 0.3s;
}
.reg-input {
    width: 100%;
    margin-bottom: 1%;
    font-size: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 173);
    outline: none;
    transition: 0.3s;
    padding-bottom: 1%;
}
.reg-phone {
    font-size: 80%;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(180, 180, 173);
    outline: none;
    padding: 1%;
    margin-left: 2%;
}
.ownerInfo {
    width: 100%;
    font-size: 100%;
    display: none;
}
#ownerCheck {
    display: none;
}
#ownerCheck + label {
    position: relative;
}
#ownerCheck + label::before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid rgb(180, 180, 173);
    outline: none;
    height: 18px;
    width: 18px;
    position: absolute;
    left: -10%;
}
#ownerCheck + label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 11px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
    position: absolute;
    top: 25%;
    left: -9%;
    display: none;
}
#ownerCheck:checked + label::after,
#ownerCheck:checked ~ .ownerInfo {
    display: inline-block;
}
.reg-input:focus {
    border-bottom-width: 2px;
}
.reg-input:focus ~ .reg-label,
.reg-input:not(:placeholder-shown) ~ .reg-label {
    top: -40%;
    font-size: 80%;
}
.switch {
    color: rgb(14, 82, 114);
    text-decoration: none;
    display: inline-block;
}
.switch:hover {
    font-weight: 700;
}
#log,
#reg {
    display: none;
}
#log:checked ~ .register,
#reg:checked ~ .login {
    display: none;
}
#reg:checked ~ .register {
    display: block;
}

/*===================== Search ======================*/
.search-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: none;
    border-radius: .25em;
    padding: .5%;
    position: fixed;
    right: 2%;
    top: 4.5%;
}
.search-text {
    width: 85%;
    display: none;
    border: none;
    outline: none;
    overflow: hidden;
    font: normal 110% serif;
    background-color: transparent;
}
.search-bar:hover {
    width: 22%;
    background-color: white;
    transition-duration: .3s;
}
.search-bar:hover > .button-search {
    border: 1px solid rgb(180, 180, 173);
    background-color: rgba(222, 222, 210);
    border-radius: .25em;
}
.search-bar:hover > .search-text {
    display: block;
}
.hidden {display: none;}

/* ================= Not found ===================== */
#content404 {
    margin-top:40px;
}

#content404 p {
    margin-top: 30px;
}

#search-results {
    margin:30px;
    
}
/*=================== Footer ========================*/
.footer {
    width: 100%;
    height: 3rem;
    background-color: rgb(224, 224, 212);
    display: flex;
    flex-shrink: 0;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-align: center;
    padding-top: 1%;
    font: normal 1.1rem serif;
}
.copy {
    width: 50%;
    min-width: 200px;
}
.share {
    width: 25%;
    min-width: 200px;
}
.icon-share {
    margin-right: .3rem;
}
.icon-share:hover {
    transform: scale(1.3);
}
.hide {
    position: absolute;
    text-align: center;
    background-color: rgb(222, 222, 210);
    border-radius: 0.25rem;
    bottom: 0;
    right: 5rem;
    padding: 0 1rem;
    display: none;
}
.hide::before {
    font: normal 2.5rem FontAwesome;
    content: '\f106';
}